{% extends get_template('base', _self) %}
{% block content %}
    {% set justify = justify|default(1) %}
    {% set columns = "col-12 " ~ column|default('col-md-4') %}

    <div class="d-flex {{ columns }} {{ card_bottom_margin(loop, columns, margin_bottom|default('6')) }}"{% if item.ID is defined and item.ID is not empty %} id="{{ item.ID }}"{% endif %}>
        <div class="{{ card_class ?? '' }} mb-6 mb-lg-0 pt-14 bg-cover"
             style="{{ render_post_data('image_url') }}">
            <a class="card-body mt-auto{% if align is defined and align is not empty %} text-{{ align }}{% endif %}"
               href="{{ render_post_data('url', item) }}">

                {% set title = render_post_data('title', item) %}
                {% if title is not empty %}
                    <h3 class="text-white">{{ title|raw }}</h3>
                {% endif %}

                {% set description = render_post_data('desc', item) %}
                {% if description is not empty %}
                    <p class="mb-0 text-white{% if justify is defined and justify %} text-justify{% endif %}">{{ description|raw }}</p>
                {% endif %}

            </a>
            {% include get_template('card_footer', _self) %}
        </div>
    </div>
{% endblock %}