{% set is_left = is_left|default(1) %}
<div class="row align-items-center">
    <div class="col-12 col-lg-5 order-lg-{{ is_left ? "2" : "1" }} d-flex justify-content-center justify-content-lg-{{ is_left ? "end" : "start" }}">
        {% if  item.icon is defined or icon is defined
            and not (item.image is defined or image is defined) %}

            {{ do_action('render_html_icon_action',
                item.icon|default(icon|default('')),
                {
                    class: 'mb-5 mb-md-0 icon-' ~ item.icon_color|default(icon_color|default('')),
                }, image_width|default(90))|raw }}
        {% else %}

            {{ render_post_data('image', item, {
                size: 'large',
                attrs: {
                    class: 'img-fluid w-' ~ image_width|default(100) ~ ' h-100 m-auto mb-6 mb-lg-0'
                }
            }) }}
        {% endif %}
    </div>
    <div class="col-12 col-lg-7 order-lg-{{ is_left ? 1 : 2 }}">
        {% set title = render_post_data('title', item) %}
        {% if title is not empty %}
            <h2 class="h4 text-gray-900">{{ title|raw }}</h2>
        {% endif %}

        {% set description = render_post_data('desc', item) %}
        {% if description is not empty %}
            <p class="lead text-gray-800 font-17 text-justify">{{ description|raw }}</p>
        {% endif %}
    </div>
</div>
