<div class="rating-inputs d-flex justify-content-center flex-row-reverse my-3">
    {% for index in 5..1 %}
        <input id="{{ name ~ index|esc_attr }}" name="{{ name|esc_attr }}" type="radio" value="{{ index }}">
        <label for="{{ name ~ index|esc_attr }}" class="rating-label font-weight-bold p-3 lh-xl fs-xs mb-0"
               data-value="{{ index|esc_attr }}">{% if show_number %}{{ index|number }}{% endif %}</label>

    {% endfor %}
</div>

