<div class="row">
    <div class="col-12 col-lg-5 mb-5 my-lg-auto">
        {% if right_image is not empty %}
            {{ wp_get_attachment_image(right_image, [490, 233], {class: 'd-block mx-auto w-100'})|raw }}
        {% endif %}
    </div>
    <div class="col-12 col-lg-7">
        {% include get_template('./title_and_description', _self) with {
            is_center: 0,
        } %}
        {% if list is not empty %}
            <ul class="list-group list-group-flush my-4">
                {% for item in list %}
                    {% if item.text is not empty and item.icon is not empty %}
                        <li class="list-group-item border-0 py-1 px-0 d-flex">
                            {{ render_icon(item.icon, {class: 'icon-md my-auto mr-2'}) }}
                            <span>{{ item.text|raw }}</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        {{ render_if_has_content('h3', {class: 'h5 mb-3'}, table_title) }}
        {% if table is not empty %}
            <table class="table table-striped w-100 w-lg-50">
                <tbody>
                {% for item in table %}
                    <tr>
                        <td class="py-1">{{ item.title|raw }}</td>
                        <td class="py-1 text-right">{{ item.value|raw }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
