{% extends get_template('include/base', _self) %}
{% block content %}
    {% set is_left = is_left|default(1) %}
    {% if has_grid is defined and has_grid %}
        <div class="col-12 {{ grid_class|esc_attr }}">
    {% endif %}

    {% set img_url = render_post_data('image_url', item, {
        size: main_image_size|default('large')
    }) %}
    <div class="{{ card_class ?? '' }} forced-style card-row bg-cover z-index-1 overlay overlay-50 overlay-dark text-white"
            {% if img_url is not empty %} style="background-image: url({{ img_url|esc_attr }})"{% endif %}>
        <div class="card-body h-100 z-index-2">
            {% set title = render_post_data('title', item) %}
            {% if title is not empty %}
                <a class="card-link text-white" href="{{ render_post_data('permalink', item) }}">
                    <h3 class="h4 limit-line max-line-2">{{ title|raw }}</h3>
                </a>
            {% endif %}

            {% set description = render_post_data('desc', item) %}
            {% if description is not empty %}
                <p class="mb-0 text-white limit-line max-line-4">{{ description|raw }}</p>
            {% endif %}
        </div>
        {% if has_meta %}
            {% embed get_template('include/card_footer', _self) with {
                has_border: 0
            } %}
                {% block content %}
                    {{ do_action('metadata_render'|generate_hook, {
                        post: item,
                        include: metadata|default(['publish', 'category']),
                        template: get_template('metadata', _self),
                        item_class: 'text-white my-auto',
                        link_class: 'btn btn-sm btn-outline-light',
                    }) }}
                {% endblock %}
            {% endembed %}
        {% endif %}
    </div>
    {% if has_grid is defined and has_grid %}
        </div>
    {% endif %}
{% endblock %}