{% if has_grid is defined and has_grid %}
    {% set columns = 'col-12 ' ~ column|default('col-md-4') %}
<div class="d-flex {{ columns }} {{ card_bottom_margin(loop, columns, margin_bottom|default(5)) }}"{% if item.ID is defined and item.ID is not empty %} id="{{ item.ID }}"{% endif %}>
    {% endif %}
    <article class="card w-100 {{ card_class|esc_attr }}">
        <div class="d-flex">
            {{ render_post_data('image', item, {
                size: 'thumbnail',
                attrs: {
                    class: 'card-img-right img-fluid'
                }
            })|raw }}
            <div class="card-body p-3 w-100">
                {% set title = render_post_data('title', item) %}
                <a class="m-auto card-link mr-0 text-gray-700" title="{{ title|esc_attr }}"
                   href="{{ render_post_data('permalink', item)|raw }}">
                    <h3 class="lh-md {{ heading_class|esc_attr }}">{{ title|raw }}</h3>
                </a>
                {% if has_meta %}
                    {% set metadata = metadata|default((is_archive() ? ['publish', 'category'] : ['publish'])) %}
                    {{ do_action('metadata_render'|generate_hook, {
                        post: item,
                        include: metadata,
                        template: get_template('metadata', _self),
                        item_class: 'text-gray-700'
                    }) }}
                {% endif %}
            </div>
        </div>
    </article>
    {% if has_grid is defined and has_grid %}
</div>
{% endif %}

