{% if items is defined
    and items is not empty %}
    <div class="d-flex justify-content-start mt-2">
        {% for key, item in items %}

            {% set item_class = item_class|default('') ~ ' w-100 font-16' ~ (not loop.first ? ' d-none d-md-block' : '') %}
            {% set value = item.value %}
            <span class="{{ item_class|raw }}">
                {% set link = item.link %}
                {% if link is defined
                    and link is not empty %}
                    {% set value %}
                        <a class="card-link {{ link_class|esc_attr }}"
                           href="{{ item.link|esc_attr }}">{{ value|raw }}</a>
                    {% endset %}
                {% endif %}

                {% if item.name is same as('category') %}
                    {{ __('in %s Category', constant('PR__THM__PMPR'))|format(value)|raw }}
                {% else %}
                    {{ value|raw }}
                {% endif %}
            </span>
        {% endfor %}
    </div>
{% endif %}