{% if items is defined and items is not empty %}
    <div class="d-flex justify-content-start">
        {% for key, item in items %}
            {% set item_class = item_class|default('') ~ ' w-100 font-16' ~ (not loop.first ? ' d-none d-md-block' : '') %}
            {% set has_link = item.link is defined and item.link is not empty %}
            {% set attrs = item.attrs ?? {} %}
            {% set value = item.value %}

            {% if has_link %}
                {% set value %}
                    <a class="{{ link_class|default('card-link') }}" href="{{ item.link|esc_attr }}" aria-label="{{ value|esc_attr }}">{{ value|raw }}</a>
                {% endset %}
            {% endif %}

            <span class="{{ item_class|esc_attr }}">
                {% if key is same as('category') %}
                    {{ category_title|format(value)|raw }}
                {% else %}
                    {{ value|raw }}
                {% endif %}
            </span>
        {% endfor %}
    </div>
{% endif %}
