{{ do_action('start_render_header') }}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html dir="rtl" lang="fa" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html dir="rtl" lang="fa" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html dir="rtl" lang="fa" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="rtl" lang="fa" class="no-js"> <!--<![endif]-->
<head>{{ wp_head() }}</head>
<body {{ body_class(body_class|default('')) }} id="top">

{% if pmpr_apply_filters('has_header', has_header|default(1)) %}
<header id="site_header">
    {% set can_render_breadcrumb = apply_filters('breadcrumb_can_render'|generate_hook, 1) %}
    <nav class="navbar navbar-expand-md navbar-light bg-light py-3 main-nav{% if not can_render_breadcrumb %} shadow-sm{% endif %}">
        <div class="container">

            {% include get_cover_template('common/logo') with {
                logo_type: 'header',
                container_class: 'navbar-brand d-flex py-0'
            } %}

            {% if has_nav_menu('main-menu') %}
                <button class="navbar-toggler svg-icon icon-menu icon-before-secondary icon-before-2xs lazyload"
                        data-class="icon-menu" type="button" data-toggle="collapse" data-target=".nav-bar"
                        aria-controls="navbar" aria-expanded="true" aria-label="{{ __('Toggle navigation', domain) }}">
                    {{ get_icon('fasm/6/set/bars', {}, 1)|raw }}
                </button>
                <div class="collapse navbar-collapse nav-bar" id="navbar">
                    {{ wp_nav_menu({theme_location:'main-menu'}) }}
                    {{ do_action('pmpr_header_left'|generate_hook) }}
                </div>
            {% endif %}
        </div>
    </nav>

    {% set breadcrumb = apply_filters('breadcrumb_get_html'|generate_hook, '') %}
    {% if breadcrumb %}
        <nav class="bg-gray-300">
            <div class="container">
                <div class="row">
                    <div class="col-12 overflow-auto">
                        {{ breadcrumb|raw }}
                    </div>
                </div>
            </div>
        </nav>
    {% endif %}
</header>
{% endif %}
