<div class="dropdown-menu right-0 left-auto border-0 mt-1 py-0 account-dropdown">
    <div class="card rounded border-gray-300 font-14">
        <div class="card-header border-gray-300 bg-transparent shadow-sm p-0">
            <a href="{{ account_link|raw }}" class="dropdown-item d-flex px-3 py-2"
               aria-label="{{ display_name|esc_attr }}">
                {{ get_avatar(user, 45, {class: 'avatar-lg rounded-circle'})|raw }}
                <div class="lh-sm pl-2">
                    <div class="font-14 font-weight-bold">{{ display_name|raw }}</div>
                    <div class="font-13 text-primary">{{ get_account_text|raw }}</div>
                </div>
            </a>
        </div>
        {% if links is defined
            and links is not empty %}
            <div id="cart_content_list_holder" class="card-body bg-transparent p-0">
                {% for key, item in links %}
                    <a href="{{ item.link|raw }}" class="dropdown-item px-3 border-bottom-1 d-flex"
                       aria-label="{{ item.text|esc_attr }}">
                        {{ get_icon(item.icon, {
                            class: 'icon-sm icon-primary my-auto mr-1'
                        })|raw }}
                        {{ item.text|raw }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

