{% set has_footer_2 = is_active_sidebar('footer-2') %}
{% set has_footer_3 = is_active_sidebar('footer-3') %}
{% set has_footer_4 = is_active_sidebar('footer-4') %}

{% if apply_filters('has_footer', has_footer|default(1)) %}
    <footer class="text-gray-300" id="site_footer">
        <div class="py-5 py-md-8 bg-gray-800">
            <div class="container">
                {{ dynamic_sidebar('footer-1') }}
            </div>
        </div>
        {% if has_footer_2 or has_footer_3 or has_footer_4 %}
            <div class="py-3 py-md-5 bg-gray-700">
                <div class="container">
                    <div class="row">
                        {% if has_footer_2 or has_footer_3 %}
                            <div class="col-12 col-lg-8 mb-5 mb-lg-auto">
                                <div class="row">
                                    {% if has_footer_2 %}
                                        <div class="col-12 col-md-6 mb-5 my-lg-auto">
                                            {{ dynamic_sidebar('footer-2') }}
                                        </div>
                                    {% endif %}
                                    {% if has_footer_3 %}
                                        <div class="col-12 col-md-6 my-lg-auto">
                                            {{ dynamic_sidebar('footer-3') }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if has_footer_4 %}
                            <div class="col-12 col-lg-4 my-auto">
                                {{ dynamic_sidebar('footer-4') }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if is_active_sidebar('footer-5') %}
            <div class="py-3 bg-gray-900">
                <div class="container text-gray-500 text-center">
                    {{ dynamic_sidebar('footer-5') }}
                </div>
            </div>
        {% endif %}
    </footer>
{% endif %}
{{ wp_footer()|raw }}
{{ add_location(_self, '', 'end_body') }}
</body>
</html>

