<div class="col-12">
    <div class="card bg-tertiary">
        <div class="card-body">
            <h1 class="display-4">{{ __('No posts yet!', domain) }}</h1>
            <p class="lead">{{ __('We will try our best to put some useful content here, soon.', domain) }}</p>
            <hr class="my-4">
            <p>{{ __('Please bookmark this page and come back later. there will be good stuff here on a couple of days.', domain) }}</p>
            <p>{{ __('Use form below to search for anything else.', domain) }}</p>
            <div class="my-2 py-2">{{ do_action('render_search_form') }}</div>
        </div>
    </div>
</div>
