{% if items is defined and items is not empty %}
    <div class="card text-center shadow-sm">
        <table class="table my-0 bg-transparent w-100 table-borderless table-striped">
            <tbody>
            {% for key, item in items %}
                {% set has_link = item.link is defined
                    and item.link is not empty %}
                {% set attrs = item.attributes ?? {} %}

                {% set icon = item.icon %}
                {% set attrs = attrs|add('class', 'clickable-row', has_link) %}
                <tr {{ attrs|parse_attrs|raw }} {% if has_link %} data-href="{{ item.link|esc_attr }}"{% endif %}>
                    {% set has_title = 0 %}
                    {% if item.title is defined
                        and item.title is not empty %}
                        {% set has_title = 1 %}
                        <th class="d-flex font-15 font-weight-normal text-gray-800 text-left py-2">
                            {{ get_icon(item.icon, {class: 'icon-lg mr-3'}, 1)|raw }}
                            {{ item.title|raw }}
                        </th>
                    {% endif %}
                    <td class="font-15 font-weight-bold text-gray-700 text-right py-2"{% if not has_title %} colspan="2" {% endif %}>
                        {{ item.value|raw }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
