<nav class="{{ class_prefix }}nav" data-total-steps="{{ steps|length }}">
    {% for step in steps %}
        {% set step_id = step|call('getId') %}
        <div class="{{ class_prefix }}step" id="step_nav_{{ step_id|esc_attr }}"
             data-step="{{ step|call('getNumber')|esc_attr }}" data-name="{{ step_id|esc_attr }}"
             data-state="{% if loop.first %}current{% else %}pending{% endif %}"
             data-target="#step_content_{{ step_id|esc_attr }}">
            <div class="{{ class_prefix }}step-wrapper">
                <div class="position-relative w-100">
                    <div class="{{ class_prefix }}step-line my-6"></div>
                    {{ render_icon(step|call('getIcon'), {class: 'icon-4x centered-absolute icon-white z-index-2 mx-auto ' ~ class_prefix ~ 'step-icon'}) }}
                </div>
                <span class="{{ class_prefix }}step-label h6 mb-0 mt-2">{{ step|call('getLabel')|raw }}</span>
            </div>
        </div>
    {% endfor %}
</nav>
