<div class="row justify-content-center">
    <div class="col-12 col-md-11 col-lg-9">
        {{ render_if_has_content('h2', {class: 'h2 mb-5 text-center'}, title) }}
        <div class="card shadow-sm">
            <div class="card-body d-flex flex-column">
                {% for item in items %}
                    {% set isQuestion = item.type is same as('question') %}
                    <div class="d-flex{% if isQuestion %} flex-row-reverse pl-0 pl-md-8{% else %} pr-0 pr-md-8{% endif %}{% if not loop.last %} mb-3{% endif %}">
                        {{ wp_get_attachment_image(item.avatar, [55, 55], {class: 'img-fluid rounded-circle mb-auto d-none d-md-block'})|raw }}
                        <div class="max-w-450px m-0{% if isQuestion %} mr-md-3{% else %} ml-md-3{% endif %}">
                            <div class="no-margin rounded py-3 font-15 px-4{% if isQuestion %} bg-gray-200{% else %} bg-primary text-white{% endif %}">
                                {{ wpautop(item.text)|raw }}
                            </div>
                            <div class="metadata font-13 lh-md{% if isQuestion %} text-right{% endif %}">
                                <span class="mr-2">{{ item.name|raw }}</span>
                                <time datetime="{{ item.date|date('Y-m-d')}}">{{ item.date|datetime(date_format) }}</time>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ render_if_has_content('div', {class: 'text-center no-margin mt-5'}, wpautop(description)) }}
    </div>
</div>
