<article class="extra selectable position-relative w-100" data-id="{{ extra.id|esc_attr }}">
    {% set discount = woo_price_discount(extra.id) %}
    {% if discount > 0 %}
        <div class="ribbon ribbon-top-left ribbon-danger">
            <span class="font-14 font-weight-bold">{{ discount_mask|format((discount ~ '%')|number)|raw }}</span>
        </div>
    {% endif %}
    <div class="card min-h-425px border-1 border-gray-500 bg-no-repeat"
         style="background-image: url('{{ wp_get_attachment_image_url(extra.thumbnail_id, 'full') }}')">
        <div class="card-header bg-gray-200 text-gray-700">
            {{ render_if_has_content('h2', {class: 'text-center h5 m-0'}, extra.title) }}
        </div>
        {% if extra.features is not empty %}
            <div class="p-3 mt-auto">
                <ul class="m-0 p-0">
                    {% for key, feature in extra.features %}
                        <li class="d-flex justify-content-between {% if not loop.last %}mb-2{% else %}m-0{% endif %}">
                            <div class="d-flex font-15">{{ feature.title|raw }}</div>
                            <strong>{{ feature.value|raw }}</strong>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="card-footer h5 mb-0 text-center bg-gray-200 text-gray-700">
            {{ extra.price|woo_price|raw }}
        </div>
    </div>
</article>

