<article class="plan selectable position-relative w-100" data-id="{{ plan.id|esc_attr }}">
    {% set discount = woo_price_discount(plan.product) %}
    {% if discount > 0 %}
        <div class="ribbon ribbon-top-left ribbon-danger">
            <span class="font-14 font-weight-bold">{{ discount_mask|format((discount ~ '%')|number)|raw }}</span>
        </div>
    {% endif %}
    <div class="card min-h-425px border-2">
        <div class="card-header">
            {{ render_if_has_content('h2', {class: 'text-center h5 m-0'}, plan.display_title) }}
        </div>
        <div class="card-body p-3">
            <ul class="list-group">
                {% for key, specification in specifications %}
                    <li class="list-group-item p-0 border-0 d-flex justify-content-between">
                        <div class="d-flex font-15">
                            {{ render_icon(specification.icon, {class: 'icon-md my-auto icon-primary mr-2'}) }}
                            {{ specification.title|raw }}
                        </div>
                        <strong>
                            {% if specification.coin %}
                                {{ coin_mask|format(plan[key]|number)|raw }}
                            {% else %}
                                {{ plan[key]|raw }}
                            {% endif %}
                        </strong>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-body p-3 border-top-2 border-gray-300">
            <div class="h6 text-center">{{ services_cost|raw }}</div>
            <ul class="list-group">
                {% for key, usage in usages %}
                    <li class="list-group-item p-0 border-0 d-flex justify-content-between">
                        <div class="d-flex font-15">{{ usage|raw }}</div>
                        <strong>{{ coin_mask|format(plan[key]|number)|raw }}</strong>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if plan.features is not empty %}
            <div class="card-body d-flex justify-content-center p-3 border-top-2 border-gray-300 text-center">
                <ul class="list-group">
                    {% for feature in plan.features %}
                        {% if feature is not empty %}
                            <li class="list-group-item border-0 d-flex p-0">
                                {{ render_icon(feature_icon, {class: 'my-auto icon-success icon-md mr-2'}) }}
                                <span class="my-auto">{{ feature|raw }}</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="card-footer h5 mb-0 text-center">
            {{ plan.price|woo_price|raw }}
        </div>
    </div>
</article>

