{% set text_color = text_color|default('gray-200') %}

{% set content %}

    {% set array = value|split('', 6) %}
    {% set content_value = '' %}
    {% for val in array %}
        {% set content_value = content_value ~ '<span>' ~ val ~ '</span>' %}
    {% endfor %}

    {{ get_icon(item.icon, {class: 'icon-centered icon-' ~ icon_size|default('lg') ~  ' icon-' ~ icon_color|default('gray-200')})|raw }}
    <span class="mt-auto ml-2">
        {{ content_value|raw }}
    </span>
{% endset %}

{% if item.type is same as ('phone') %}
    {% set value = value|replace({'_': '', '-': ''}) %}
    {% set prefix = 'tel' %}
    <a href="{{ prefix }}:{{ value }}" rel="nofollow"
       class="lh-md d-flex hover-{{ text_color }} text-{{ text_color }}">
        <div class="d-flex">{{ content|raw }}</div>
    </a>

{% else %}
    <div class="d-flex text-{{ text_color }}">{{ content|raw }}</div>
{% endif %}

